[user]
	email = jj@jjay.dev
	name = TheBotlyNoob
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autpSetupRemote = true
	autoSetupRemote = true
[pull]
	rebase = false
[alias]
	root = rev-parse --show-toplevel
